@import url("//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --background-color-dark: #0e1419;
  --background-color-light: #ffffff;
  --color-dark: #e5e1cf;
  --color-light: #213547;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  @apply m-0 flex min-w-80 items-center;
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-dark);
  background-color: var(--background-color-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-dark: #213547;
    --background-color-dark: #ffffff;
  }
  body {
    color: var(--color-dark);
    background-color: var(--background-color-light);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #f19618;
  }
}

.typing-effect {
  overflow: hidden;
  border-right: 0.15em solid #f19618;
  white-space: nowrap;
  width: 0;
  animation:
    typing 1.5s steps(30, end) forwards,
    blink-caret 0.75s step-end infinite;
}
